@let v = vm();
<dl class="details">
  @for (r of v?.page?.rows ?? []; track $index) {
    <div class="detail-row">
      <dt class="detail-key">
        {{ txt(r?.k) }}
      </dt>
      <dd class="detail-value">
        @if (r?.href) {
          <a class="detail-link" [attr.href]="r?.href" [style.--text-decoration-color]="txt(v?.page?.hex)">{{
            txt(r?.v)
          }}</a>
        }
        @if (r?.plain) {
          <span>{{ txt(r?.v) }}</span>
        }
      </dd>
    </div>
  }
</dl>
